<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KYR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .container
        {
            margin-top: 1vh;
        }
        .h1{
            margin-bottom: 10spx;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body data-bs-theme="dark">
    <div class="form-check form-switch mx-4">
        <input 
        class="form-check-input p-2"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckChecked"
        checked onclick="myFunction()" />
    </div>
    <div class="container" >
        <div>
            <h1 class="h1">Know Your  Right</h1>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"       data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  What are the fundamental rights guaranteed to Indian citizens by the Constitution?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>The fundamental rights guaranteed to Indian citizens by the Constitution include the right to equality, right to freedom, right against exploitation, right to freedom of religion, cultural and educational rights, and right to constitutional remedies.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Can the fundamental rights of Indian citizens be suspended during emergencies?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>T Yes, fundamental rights can be suspended during emergencies declared under Article 352 of the Constitution, which includes national emergency, state emergency, and financial emergency. However, some rights such as right to life and personal liberty (Article 21) cannot be suspended.</strong> 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  What is the significance of Article 21 of the Indian Constitution regarding the right to life and personal liberty?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Article 21 of the Indian Constitution guarantees the right to life and personal liberty, which is considered the most important right. It ensures that no person shall be deprived of his/her life or personal liberty except according to the procedure established by law.</strong> 
                </div>
              </div>
            </div>
           
            
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  Are there any limitations to the freedom of speech and expression for Indian citizens?
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong> While Indian citizens have the freedom of speech and expression, it is subject to certain reasonable restrictions such as defamation, contempt of court, decency, morality, security of the state, etc., as specified under Article 19(2) of the Constitution.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Do Indian citizens have the right to privacy? If so, how is it protected?
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong> Indian citizens have the right to privacy, which has been recognized as a fundamental right by the Supreme Court of India in the landmark judgment of Justice K.S. Puttaswamy (Retd.) vs Union of India. The right to privacy is protected under Article 21 of the Constitution.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Can Indian citizens freely practice and propagate their religion under the Constitution?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong> Indian citizens have the freedom to practice, profess, and propagate any religion of their choice under Article 25 of the Constitution. However, the state can regulate religious activities to maintain public order, morality, and health.</strong> 
                </div>
              </div>
            </div>
          </div> 
          
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                  Are there any provisions in place to protect the rights of minorities in India?
                </button>
              </h2>
              <div id="collapseSeven" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Various provisions such as Articles 29 and 30 of the Constitution safeguard the rights of minorities in India, including the right to conserve their language, script, and culture, and the right to establish and administer educational institutions of their choice.</strong> 
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  What legal provisions exist to safeguard the rights of women in India?
                </button>
              </h2>
              <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>Several laws and provisions have been enacted to protect the rights of women in India, including the Protection of Women from Domestic Violence Act, 2005, Dowry Prohibition Act, 1961, and laws against sexual harassment in the workplace.</strong> 
                </div>
              </div>
            </div>
            
          </div>
    </div>
    <Script>
        function myFunction(){
            var element=document.body;
            element.dataset.bsTheme=element.dataset.bsTheme=="light" ?"dark":"light";
        }
    </Script>
      <script
         
       src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
        
      </script>
</body>
</html>